<html lang="en">
<head>
    <title>Book Inventory</title>
</head>
<body>
<%- include("component/navbar.ejs") %>
<form action="/add" method="post" enctype="multipart/form-data">
    <label for="bookName">Book name</label>
    <input type="text" name="bookName" value="<%= bookName %>" id="bookName" required>
    <label for="description">Book description</label>
    <input type="text" id="description" value="<%= description %>" name="description">
    <label for="bookImg">Book image</label>
    <input type="file" id="bookImg" name="bookImg" alt="book image">
    <label for="publicationDate">Publication date</label>
    <input type="date" id="publicationDate" value="<%= publicationDate %>" name="publicationDate">
    <label for="price">Price:</label>
    <input type="number" value="<%= price %>" id="price" name="price">
    <label for="author">Author:</label>
    <select name="author" id="author">
        <% authors.forEach(author => { %>
            <option value="<%= author.author_id %>" <%= author.author_id == locals.author ? "selected" : "" %>>
                <%= author.author_first_name %> <%= author.author_last_name %>
            </option>
        <% }) %>
    </select>
    <label for="genres">Genres:</label>
    <select id="genres" name="genres[]" multiple required>
        <% genres.forEach(genre => { %>
            <option value="<%= genre.genre_id %>" <%= genresSelected && genresSelected.includes(String(genre.genre_id)) ? "selected" : "" %>>
                <%= genre.genre_name %>
            </option>
        <% }) %>
    </select>
    <%- include("component/errors.ejs") %>
    <button type="submit"> Submit</button>
</form>
</body>
</html>
