<html>
<head>
    <title>Book Inventory</title>
</head>
<body>
<%- include("navbar") %>
<ul>
    <% authors.forEach((author) => { %>
       <li> <%= author.author_first_name %>  <%= author.author_last_name %> </li>
        <a href="/authors/update/<%= author.author_id %>">Update</a>
        <a href="/authors/delete/<%= author.author_id%>">Delete</a>
    <% }); %>
</ul>
</body>
</html>