<li>
    <% if(book.book_img) {%>
    <img src="<%=book.book_img%>" alt="<%= book.book_name %> image">
    <% } %>
    <h2><%= book.book_name %></h2>
    <h3><%= book.book_description %></h3>
    <% if(book.publication_date) {%>
    <h4> <%= book.formattedDate %> </h4>
    <% } %>
    <ul>
        <% book.genres.forEach((genre) => { %>
            <li><%= genre %></li>
        <% }); %>
    </ul>
    <h3><%= book.author_first_name %>  <%= book.author_last_name %></h3>
    <% if(book.price) {%>
        <h2> <%= book.price %>$ </h2>
    <% } %>
    <a href="/update/<%= book.book_id %>">Update</a>
    <a href="/delete/<%= book.book_id %>">Delete</a>
</li>
