<html lang="en">
<head>
    <title>Book Inventory</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<%- include("navbar") %>
<%- include("formConfirmUpdateAndDelete") %>
<form>
    <label for="firstName">First name</label>
    <input type="text" name="firstName" value="<%= authorFirstName %>" id="firstName" required>
    <label for="lastName">First name</label>
    <input type="text" id="lastName" value="<%= authorLastName %>" name="lastName" required>
    <button type="button" id="edit-author-submit" data-author-id="<%= authorId %>">Submit</button>
</form>
</body>
<script src="/js/confirmForm.js"></script>
</html>